<div class="text-center border pt-4 pb-4 ml-4">
  <div class="mb-2">
    <%= profile_picture @agent %>
    </div>
  <h3 class="f4"><%= @agent.full_name%></h3>
  <p><%= @agent.company %></p>

  <button class="btn btn-block btn-info text-uppercase mb-4" id="show-tel" data-telephone="<%= @agent.telephone %>"><i class="fas fa-phone mr-2"></i><span>Call</span></button>
  <button class="btn btn-success text-uppercase" data-toggle="modal" data-target="#contact-model">Email</button>
</div>